*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul,li{
  text-decoration: none;
  list-style: none;
}

:root{
  /*Primary*/
  --Purple: #854dff;
  --Light-red: #ff5757;

  /*Neutral*/
  --White: #ffffff;
  --Off-white: #f0f0f0;
  --Light-grey: #dbdbdb;
  --Smokey-grey: #716f6f;
  --Off-black: #141414;
}

body{
  font-family: 'Poppins', sans-serif;
}

.container{
  background-color: var(--Off-white);
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 19rem;
  height: 30rem;
  background-color: var(--White);
  padding: 1rem;
  border-radius: 1rem 1rem 5rem 1rem;
  box-shadow: 0.5rem 0.5rem 1rem var(--GrayishBlue);
  gap: 2rem;
}

.dates-form{
  display: flex;
  align-items: center;
  justify-content:space-between;
  text-align: left;
}

.form-fill{
  display: flex;
  flex-direction: column;
}

.form-fill label{
  color: var(--Smokey-grey);
  letter-spacing: 0.2rem;
  font-size: 0.6rem;
  font-weight: 700;
}

.form-fill input{
  width: 4.5rem;
  padding: 0.5rem;
  border: solid 1px var(--Light-grey);
  border-radius: 0.2rem;
  color: var(--Off-black);
  font-size: 0.9rem;
  font-weight: 700;
}

.form-fill input:hover{
  border: solid 1px var(--Purple);
}

#errorMessageDay,
#errorMessageMonth,
#errorMessageYear{
  visibility: hidden;
  color: red;
  font-size: 0.4rem;
  padding-bottom: 10px;
}

.dates-send{
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

button{
  background-color: var(--Purple);
  position: relative;
  border: none;
  padding: 2rem;
  border-radius: 3rem;
  z-index: 2;
}

button:hover{
  background-color: var(--Off-black);
}

.line-middle, 
.line-right, 
.line-left{
  position: absolute;
}

.line-middle{
  width: 2.5px;
  height: 18px;
  top: 20px;
  background-color: var(--White);
}

.line-right{ 
  right: 18px;
  bottom: 20px;
  width: 14px; 
  height: 14px;  
  border: solid 2.5px var(--White);
  border-radius: 16px 0px 18px 0px;
  border-color: var(--White) transparent transparent var(--White) ;
}

.line-left{
  left: 20px;
  bottom: 20px;
  width: 14px; 
  height: 14px;  
  border: solid 2.5px var(--White);
  border-radius: 0px 16px 0px 18px;
  border-color:  var(--White) var(--White) transparent transparent;
}

.line-divide{
  width: auto;
  border-top: 2px solid var(--Off-white);
  margin-top: -2rem;
  width: 16rem;
  z-index: 1;
}

.info ul{
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-top: 1.5rem;
}

.result{
  display: flex;
  align-items: center;
  color:var(--Off-black);
  font-weight: bold;
  font-style: italic;
  letter-spacing: -0.1rem;
  font-size: 3rem;
  margin-top: -1.5rem;
}

#result-y,
#result-m,
#result-d{
  color: var(--Purple);
}

.attribution { 
  font-size: 0.7rem; 
  display: flex; 
  flex-direction: column;
  text-align: center;
  
}
.attribution a {
  color: #3e52a3; 
}

@media (min-width: 38rem){

  .card{
    height: 21rem;
    width: 25rem;
    padding: 1rem 0;
    gap: 0rem;
  }
  
  .dates{
    width: 90%;
    display: flex;
    flex-direction: column;
    padding-top: 0.5rem;
  }

  .dates-form{
    margin-top: 0.5rem;
    display: flex;
    justify-content: flex-start;
  }

  .form-fill{
    margin-right: 20px;
  }

  .dates-send{
    width: 110%;
    margin-top: -1rem;
    flex-direction:row-reverse;
  }
  
  button{
    margin-top: 0.5rem;
    padding: 2rem;
  }

  .line-divide{
    margin-top: 0rem;
    margin-left: -40px;
    width: 18rem;
  }

  .info{
    width: 90%;
  }

  .error{
    color: red;
        font-size: 0.4rem;
        padding-bottom: 10px;
  }
}